.diary-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: relative;
    perspective: 1000px;
}
.diary {
    background-color: #f4ddab;
    height: 35vw;
    width: 35vw;
    border-radius: 10px;
    rotate: -2deg;
    animation: __bounceInUp 1s ease-in;
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out;
    cursor: pointer;
}
.diary-cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 20px 20px 20px 0 rgba(0,0,0,0.2);
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: left;
    transition: transform 1s;
    height: 35vw;
}
.diary-open {
    transform: rotateY(-160deg) translate(50%, -50%);
}
.cover-open {
    height: 31vw;
    top: 53%;
    left: 52%;
}

@keyframes __bounceInUp {
    0% {
        transform: translate(-70%, -70%);
    }
    100% {
        transform: translate(-50%, -50%);
    }
}

.diary-cover h1 {
    font-size: 4vw;
    font-family: var(--cover-font);
    background-color: white;
    padding: 2vw;
    margin-top: 2vw;
    border-radius: 50%;
    border: 1px solid black;
}
.tori-img {
    z-index: 11;
}
.tori-img img {
    height: auto;
    width: 35vw;
    cursor: pointer;
    transition: transform 1s ease-in;
}
.tori-img img:hover {
    transform: scale(1.5);
}

.diary-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-49%, -49%);
    z-index: -2;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 0 rgba(0,0,0,0.2);
    transform-origin: left;
    transition: transform 1s ease-in-out, z-index 0s;
    transition-delay: 0.2s;
    border: 1px solid #b2b2b2;
}
.page-img {
    width: 100%;
    height: 90%;
}
.page-text {
    font-size: 2rem;
}
.diary-back {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -47%);
    z-index: -15;
}

.diary-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 7vw;
    width: 30vw;
    height: 2.2vw;
    background-color: white;
    border-radius: 100px;
}
.diary-footer p {
    font-size: 1.5vw;
    font-family: var(--cover-footer-font);
    padding-top: 1vw;
}


/*Spring-image*/
.spring-container {
    position: absolute;
    top: 1vw;
    right: 1vw;
    z-index: 10;
    height: 32.5vw;
    width: 100%;
    overflow: hidden;
}
.quarter-circle {
    width: 1.5vw;
    height: 1vw;
    position: relative;
}
.top-left {
    border-top-left-radius: 100px;
    border-left: 5px solid black;
    border-top: 5px solid black;
    left: 0;
    top: 0;
}
.bottom-left {
    border-bottom-left-radius: 100px;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
    left: 0;
    top: -5px;
    margin-bottom: 0.2vw;
}

/*Heart-img*/
.heart-container {
    position: absolute;
    height: 7vw;
    width: 7vw;
}
.fa-heart {
    position: relative;
    color: #f31515;
}
.heart-img1 {
    left: 8vw;
    top: 0;
    rotate: 30deg;
    font-size: 2vw;
}
.heart-img2 {
    left: 8vw;
    bottom: 2vw;
    rotate: 30deg;
    font-size: 1vw;
}

/*Paw-image*/
.fa-paw {
    position: absolute;
    font-size: 2vw;
}
.paw-img1 {
    left: 4vw;
    top: 15vw;
}
.paw-img2 {
    left: 6vw;
    top: 12.8vw;
}
.paw-img3 {
    font-size: 3vw;
    right: 3vw;
    top: 25vw;
    rotate: 45deg;
    color: rgb(122,169,191);
}

@media screen and (max-width: 576px) {
    .diary {
        height: 350px;
        width: 250px;
    }
    .diary-cover h1 {
        font-size: 2rem;
        padding: 1rem;
        margin-top: 0;
    }
    .spring-container {
        top: 1rem;
        right: 1rem;
        height: 315px;
        width: 250px;
    }
    .quarter-circle {
        width: 1.5rem;
        height: 1rem;
    }
    .top-left {
        border-left: 5px solid black;
        border-top: 5px solid black;
    }
    .bottom-left {
        border-left: 5px solid black;
        border-bottom: 5px solid black;
        margin-bottom: 0;
    }
    .tori-img img {
        height: auto;
        width: 25rem;
    }
    .diary-page {
        min-width: 250px;
        left: 11.2rem;
        bottom: -0.3rem;
    }
    .cover-open {
        height: 21rem;
        top: 52%;
        left: 52%;
    }
    .page-text {
        font-size: 1.5rem;
    }
    .page-img {
        height: 80%;
    }
    .diary-back {
        min-width: 250px;
        bottom: -0.5rem;
    }
    .diary-footer {
        column-gap: 1.5rem;
        width: 13rem;
        height: 2.2rem;
    }
    .diary-footer p {
        padding-top: 10px;
        font-size: 1rem;
    }
    .heart-container {
        position: absolute;
        height: 7rem;
        width: 7rem;
    }
    .heart-img1 {
        left: 7rem;
        font-size: 1.5rem;
    }
    .heart-img2 {
        left: 7rem;
        bottom: 1.5rem;
        font-size: 0.7rem;
    }

    /* Paw-image */
    .fa-paw {
        font-size: 1.5rem;
    }
    .paw-img1 {
        left: 1.5rem;
        top: 8rem;
    }
    .paw-img2 {
        left: 3rem;
        top: 6rem;
    }
    .paw-img3 {
        font-size: 2rem;
        right: 1rem;
        top: 15rem;
    }
}

@media screen and (min-width: 380px) and (max-width: 576px) {
    .diary-cover {
        left: 46%;
    }
    .diary-back {
        transform: translate(-51%, -47%);
    }
}