.image-card-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 3vw;
    padding-bottom: 2vw;
    width: 100%;
}
.card {
    width: 15rem;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    background-color: white;
}
.card-inside {
    padding: 1vw;
}
.card.line-card {
    position: relative;
    transition: transform 0.3s;
    cursor: pointer;
}
.card.line-card:hover {
    transform: scale(1.05);
}
.card-img-top {
    width: 100%;
    height: 8vw;
    display: block;
    background: lightgrey;
    border-radius: 5px;
    margin-bottom: 3vw;
    outline: 2px solid lightgrey;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);

}
.card-body {
    text-align: center;
}
.line-card::before {
    content: "";
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 30px;
    background-color: #93442b;
}
.card-inside input[type="file"] {
    opacity: 0;
    position: absolute;
    z-index: -1;
}
.card-inside .custom-file-upload {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1vw;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    padding-top: 1vw;
    font-weight: bold;
}
.card-inside .custom-file-upload:hover {
    background-color: #efefef;
}
.upload-img {
    width: 3vw;
    height: 3vw;
}

/*Card-position*/
.line-card:nth-child(1) {
    top: 5px;
}
.line-card:nth-child(2) {
    top: 15px;
}
.line-card:nth-child(3) {
    top: 18px;
}
.line-card:nth-child(4) {
    top: 15px;
}
.line-card:nth-child(5) {
    top: 5px;
}

/*Mobile-size*/
@media (max-width: 576px) {
    .card {
        width: 20vw;
    }
    .image-card-container {
        gap: 2vw;
    }
    .card-img-top {
        height: 13vw;
    }
    .line-card::before {
        top: -25px;
        height: 25px;
    }
    /*Card-position*/
    .line-card:nth-child(1) {
        top: 12px;
    }
    .line-card:nth-child(2) {
        top: 18px;
    }
    .line-card:nth-child(3) {
        top: 20px;
    }
    .line-card:nth-child(4) {
        top: 18px;
    }
    .line-card:nth-child(5) {
        top: 12px;
    }
    .card-inside .custom-file-upload {
        font-size: 3vw;
        padding-top: 3vw;
    }
    .upload-img {
        width: 5vw;
        height: 5vw;
    }
}