.diary-page-open {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: relative;

}
/*Calendar button*/
.open-calendar-btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    width: 10vw;
    height: 10vw;
    border: none;
    background-color: white;
    clip-path: circle(50.0% at 100% 50%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: width 0.5s ease;
    outline: none;
}
.open-calendar-btn:hover {
    width: 11vw;
    clip-path: ellipse(50% 50% at 93% 50%);
}
.calendar-icon {
    margin-right: 10px;
    font-size: 1.5vw;
    width: 1.8vw;
    height: 1.8vw;
}
.fa-chevron-left {
    color: #505050;
}
.open-calendar-btn:hover .fa-chevron-left {
    animation: infiniteSlideIn 1s ease-in infinite;
}
@keyframes infiniteSlideIn {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-10%);
    }
    100% {
        transform: translateX(0);
    }
}
.calendar-img {
    transition: width 0.2s ease, height 1s ease;
}
.open-calendar-btn:hover .calendar-img {
    width: 2.3vw;
    height: 2.3vw;
}


.diary-paper {
    background-color: #f4ddab;
    height: 90vh;
    width: 55vw;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 0.3s ease-in-out;
}
.diary-paper.blur {
    filter: blur(2px);
}
.page-opened {
    max-width: 100%;
    background-color: white;
    height: 98%;
    width: 98%;
    display: flex;
    flex-direction: column;
    font-family: var(--diary-header-font);
    font-size: 1.8vw;
}

/*Header*/
.diary-header {
    display: flex;
    align-items: center;
    border: 2px solid black;
}
.date-text {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid black;
    padding: 10px 20px 0 20px;
}
.date-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px 0 5px;
    width: 25vw;
}
.date {
    border: none;
}
.weather-text {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 10px 20px 0 20px;
}
.weather {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.weather-btn {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    transition: transform 0.3s ease-in;
}
.weather-btn:hover {
    transform: scale(1.1);
}
.weather-btn.active {
    border: 2px solid black;
    border-radius: 50%;
    padding: 0 10px;
}
.title-text {
    display: flex;
    align-items: center;
    border: 2px solid black;
    height: 3vw;
}
.title-text p {
    padding: 10px 20px 0 20px;
}
.title-textarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    line-height: 50px;
    overflow-y: hidden;
    resize: none;
    padding-left: 20px;
}
.title-textarea {
    border: none;
    background-color: transparent;
    outline: none;
    resize: none;
    border-left: 2px solid black;
}
.text-grid {
    padding: 5px 10px;
    outline: none;
    resize: none;
    border: 2px solid black;
    height: 100%;
    background-image:
            linear-gradient(90deg,
            #000 1px,
            transparent 1px,
            transparent 48px),
            linear-gradient(0deg,
            #000 1px,
            transparent 1px,
            transparent 45px);
    background-size: 47px 52px;
    line-height: 50px;
    letter-spacing: 18px;
    word-spacing: 21px;
    font-size: 1.5vw;
    overflow-y: hidden;
}
.diary-img {
    width: 100%;
    height: 45vh;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

/*Weather-img*/
.bi {
    font-size: 2vw;
}
.bi-sun {
    color: #ffc300;
}
.bi-cloud {
    color: grey;
}
.bi-umbrella {
    color: #31a8d2;
}
.bi-cloud-snow {
    color: aqua;
}

.row1 {
    height: 50px;
}
.row2 {
    height: 200px;
}
.row3 {
    height: 40px;
}
.row4 {

}

/*Mobile-size*/
@media (max-width: 576px) {
    .diary-page-open {
        flex-direction: column;
    }
    .page-opened {
        flex-direction: column;
    }
    .page-opened::after {
        top: 40%;
        left: 0;
        width: 100%;
        height: 1px;
        transform: translateY(-50%);
    }
}