/*Calendar*/
.calendar {
    position: absolute;
    top: 3vw;
    right: 50%;
    width: 50vw;
    height: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in;
}
.calendar.active {
    animation: slideIn 1s ease-in forwards;
    opacity: 1;
    visibility: visible;
}

.calendar.close {
    animation: slideOut 1s ease-in forwards;
    opacity: 1;
    visibility: hidden;
    pointer-events: none;
}

@keyframes slideIn {
    0% {
        right: 0;
        opacity: 0;
    }
    100% {
        right: 25%;
        opacity: 1;
    }
}

@keyframes slideOut {
    0% {
        right: 25%;
        opacity: 1;
    }
    100% {
        right: 0;
        opacity: 0;
    }
}

.react-calendar {
    width: 100% !important;
    line-height: 4rem !important;
    font-size: 2vw !important;
    border-radius: 5px;
}

.react-calendar__navigation {
    height: 70px !important;
}
.react-calendar__navigation button {
    min-width: 60px !important;
}

/*Month Tile*/
.react-calendar__year-view .react-calendar__tile, .react-calendar__decade-view .react-calendar__tile, .react-calendar__century-view .react-calendar__tile {
    padding: 1em;
}

/*Selected Title Control*/
.react-calendar__tile--active {
    background-color: #f4ddab;
}
.react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus {
    background-color: #f4ddab;
}

/*Today Title*/
.react-calendar__tile--now {
    background-color: transparent;
}

abbr {
    font-weight: bolder;
}