@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps+Luckiest+Guy&family=Pangolin&display=swap');

:root {
  --background-color: rgb(224, 146, 86);
  --cover-font: "Luckiest Guy", cursive;
  --cover-footer-font: "Pangolin", cursive;
  --diary-header-font: "Delius Swash Caps", cursive;
}
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  cursor: default;
}
