@import url('https://fonts.googleapis.com/css2?family=Gaegu&family=Delius+Swash+Caps&family=Luckiest+Guy&family=Pangolin&display=swap');
:root {
  --background-color: rgb(224, 146, 86);
  --diary-color: #f4ddab;
  --cover-font: "Luckiest Guy", cursive;
  --cover-footer-font: "Pangolin", cursive;
  --diary-font: "Gaegu", sans-serif;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  cursor: default;
}

body, html {
  padding: 0;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
}

/**::before,*/
/**::after {*/
/*  outline: solid 2px red;*/
/*}*/